* {
  padding: 0;
  margin: 0;
 }
 
 body {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
  color: #a0a0a0;
  background-image: url(images/background.gif);
  background-repeat: repeat-y; 
  background-color: #292929;
 }
 
 .left {
  float:left;
  padding-top: 30px;
  width: 210px;
 }
.left div {
	margin-left:50px;
}
.left ul li {
  width: 160px;
  float: right;
 }
.left b {
  color:#666666;
  font-size: 12pt;
  width: 160px;
  float: right;
 }
.left ul li a {
  color: #888888;
  text-decoration: none;
  padding: 2px 0px 2px 5px;
  width: 145px;
  float: right;
}

.left ul li a:hover {
  background: #292929;
 }
 
 .left ul li.active a {
  color: #ffaa00;
  background: #292929;
 }
 
 .right {
  padding-left: 220px;
  padding-top: 100px;
  width: 750px;
}

.right img {
  margin-right: 10px;
  display: block;
  border: 3px solid #CCC;
 }
 
 .right img:hover {
  border: 3px solid #ff00aa;
 }
 
h1 {
  font-size: 19pt;
  color: #EE00ee;
  font-weight: bold;
  padding-bottom: 8px;
 }
 
h2 {
  font-weight: normal;
  padding-bottom: 6px;
  font-size: 16pt;
 }
 
h3 {
  font-weight: normal;
  font-size: 13pt;
  padding-left:4px;
  padding-bottom: 4px;
  border-style:solid;
  border-width:1px;
}
 
 p {
   font-size: 11pt;
   padding-top: 10px;
 	padding-bottom: 10px;
 }
 
a {
  color: #6688ff;
  text-decoration: none;
 }
 
a:hover {
  text-decoration: underline;
 }
 
 .content {
  min-height: 500px;
 }
 
 .footer {
   color:#666666;
	text-align: right;
 }
 
 .footer a {
  color:#666666;
  text-decoration: none;
 }
 
 .light {
 	color:#ffaa00;
 }
 .code {
  padding: 5px 10px 5px 10px;
  background-color: #222222;
}  