* {
  padding: 0;
  margin: 0;
 }
 
 body {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
  color: #a0a0a0;
  background-image: url(images/background.gif);
  background-repeat: repeat-y;
  background-color: #292929;
 }
 
 .left {
  float:left;
  padding-top: 30px;
  width: 300px;
 }

.left ul li {
  font-family: Verdana,Arial,sans-serif;
  width: 170px;
  float: right;
 }
.left b {
  color:#666666;
  font-size: 11pt;
  width: 170px;
  float: right;
 }
.left ul li a {
  color: #888888;
  text-decoration: none;
  padding: 5px 1px 1px 1px;
  width: 155px;
  height: 16px;
  float: right;
}

.left ul li a:hover {
  background: #292929;
 }
 
 .left ul li.active a {
  color: #ffaa00;
  background: #292929;
 }
 
 .right {
  padding-left: 320px;
  padding-top: 100px;
}

.right img {
  margin-right: 10px;
  display: block;
  border: 3px solid #CCC;
 }
 
 .right img:hover {
  border: 3px solid #ff00aa;
 }
 
 .code {
  margin: 5px 10px 5px 10px;
  height: 106px;
  border: thin dashed;
}
 
h1 {
  font-size: 19pt;
  color: #EE00ee;
  font-weight: bold;
 }
 
h2 {
  font-weight: normal;
  padding-bottom: 7px;
  font-size: 16pt;
 }
 
h3 {
  font-weight: normal;
  font-size: 13pt;
  padding-left:4px;
  padding-bottom: 4px;
  border-style:solid;
  border-width:1px;
}
 
 p {
   font-size: 11pt;
	margin-left: 10px;
   margin-top: 10px;
 	margin-bottom: 10px;
 }
 
a {
  color: #6688ff;
  text-decoration: none;
 }
 
a:hover {
  text-decoration: underline;
 }
 
 .content {
  min-height: 530px;
  margin-right:30px;
 }
 
 .footer {
   color:#666666;
	width:100%;
 	padding: 20px, 20px, 5px, 10px;
	text-align: right;
 }
 
 .light {
 	color:#ffaa00;
 }
  