{!extends base.html !}
{!block title!}{%set page 'userguide'%}Jangod, libraries manual{!endblock!}
{!block content!}
<h1>Built-in libraries reference</h1>
<p>This document describes all of library object items implemented in jar package. 
</p>
<a name="macro"></a><h2>Macros</h2>
<a name="extends-macro"></a><h3>extends</h3>
<p>
</p>
<a name="block-macro"></a><h3>block</h3>
<p>
</p>
<a name="include-macro"></a><h3>include</h3>
<p>
</p>
<a name="define-macro"></a><h3>macro</h3>
<p>
</p>
<a name="call"></a><h3>call</h3>
<p>
</p>
<a name="tag"></a><h2>Tags</h2>
<a name="extends-tag"></a><h3>extends</h3>
<p>
</p>
<a name="block-tag"></a><h3>block</h3>
<p>
</p>
<a name="include-tag"></a><h3>include</h3>
<p>
</p>
<a name="if"></a><h3>if</h3>
<p>
</p>
<a name="for"></a><h3>for</h3>
<p>
</p>
<a name="ifchanged"></a><h3>ifchanged</h3>
<p>
</p>
<a name="cycle"></a><h3>cycle</h3>
<p>
</p>
<a name="set"></a><h3>set</h3>
<p>
</p>
<a name="filter"></a><h2>Filters</h2>
<a name="default"></a><h3>default</h3>
<p>
</p>
<a name="date"></a><h3>date</h3>
<p>
</p>
<a name="contain"></a><h3>contain</h3>
<p>
</p>
<a name="length"></a><h3>length</h3>
<p>
</p>
<a name="reverse"></a><h3>reverse</h3>
<p>
</p>
<a name="random"></a><h3>random</h3>
<p>
</p>
<a name="equal"></a><h3>equal</h3>
<p>
</p>
<a name="not"></a><h3>not</h3>
<p>
</p>
<a name="and"></a><h3>and</h3>
<p>
</p>
<a name="or"></a><h3>or</h3>
<p>
</p>
<a name="abs"></a><h3>abs</h3>
<p>
</p>
<a name="divisible"></a><h3>divisible</h3>
<p>
</p>
<a name="add"></a><h3>add</h3>
<p>
</p>
<a name="multiply"></a><h3>multiply</h3>
<p>
</p>
<a name="divide"></a><h3>divide</h3>
<p>
</p>
<a name="escape"></a><h3>escape</h3>
<p>
</p>
<a name="lower"></a><h3>lower</h3>
<p>
</p>
<a name="upper"></a><h3>upper</h3>
<p>
</p>
<a name="truncate"></a><h3>truncate</h3>
<p>
</p>
<a name="cut"></a><h3>cut</h3>
<p>
</p>
<a name="md5"></a><h3>md5</h3>
<p>
</p>
{!endblock!}

{!block table !}
<div class="sidebar">
<h2>index</h2>
<ul>
	<li><a href="#marco">macros</a>
		<ul>
			<li><a href="#block-macro">block</a></li>
			<li><a href="#call">call</a></li>
			<li><a href="#extends-macro">extends</a></li>
			<li><a href="#include-macro">include</a></li>
			<li><a href="#define-macro">macro</a></li>
		</ul>
	</li>
	<li><a href="#tag">tags</a>
		<ul>
			<li><a href="#block-tag">block</a></li>
			<li><a href="#cycle">cycle</a></li>
			<li><a href="#extends-tag">extends</a></li>
			<li><a href="#for">for</a></li>
			<li><a href="#if">if</a></li>
			<li><a href="#ifchanged">ifchanged</a></li>
			<li><a href="#include-tag">include</a></li>
			<li><a href="#set">set</a></li>
		</ul>
	</li>
	<li><a href="#filter">filters</a>
		<ul>
			<li><a href="#abs">abs</a></li>
			<li><a href="#add">add</a></li>
			<li><a href="#and">and</a></li>
			<li><a href="#contain">contain</a></li>
			<li><a href="#cut">cut</a></li>
			<li><a href="#date">date</a></li>
			<li><a href="#default">default</a></li>
			<li><a href="#divide">divide</a></li>
			<li><a href="#divisible">divisible</a></li>
			<li><a href="#equal">equal</a></li>
			<li><a href="#escape">escape</a></li>
			<li><a href="#length">length</a></li>
			<li><a href="#lower">lower</a></li>
			<li><a href="#md5">md5</a></li>
			<li><a href="#multiply">multiply</a></li>
			<li><a href="#not">not</a></li>
			<li><a href="#or">or</a></li>
			<li><a href="#random">random</a></li>
			<li><a href="#reverse">reverse</a></li>
			<li><a href="#truncate">truncate</a></li>
			<li><a href="#upper">upper</a></li>
		</ul>
	</li>
</ul>
</div>
{!endblock!}