{!extends base.html !}
{!block title!}{%set page 'downloads'%}Jangod, the release packaged versions{!endblock!}
{!block content!}
<h1>Downloads</h1>
<h3>Template Engine</h3>
<p>Binaries:
<ul>
	<li><a href="downloads/jangod-template.jar">jangod-template.jar</a></li>
</ul>
</p>
<h3>Spring MVC</h3>
<p>Binaries:
<ul>
<li><a href="downloads/jangod-spring-mvc.jar">jangod-spring-mvc.jar</a>&nbsp;&nbsp;(needs template.jar to work)</li>
<li><a href="downloads/spring-jangod.jar">spring-jangod.jar</a>&nbsp;&nbsp;(contains template.jar)</li>
</ul>
</p>
{!endblock!}