{!extends base.html !}
{!block title!}{%set page 'userguide'%}Jangod, end user manual{!endblock!}
{!block content!}
<h1>Syntax of template language</h1>
<p>About what's Jangod and what it does, see <a href="index.html" alt="Jangod introduction" >here</a>. 
This document is for end users (may be a web designer) as a manual, it all 
about making templates.
</p>
<h2>Templates</h2>
<p>Any text file, no matter what suffix is having, can be a template. 
As when you insert a text file with some of Jangod <a href="#element">elements</a>, 
that is ready a Jangod template. Other text (which non-jangod elements) will be 
render as it's now(except some <a href="features.html#forgiveness">special characters</a>).
We use template to define the format of the final document is being generated, 
it carries common output fixed, and differences marked with Jangod element, 
which will be replaced with the text computed-out runtime by engine. 
Taking regular text (fixed, direct output) as regular elements, a Jangod template 
can be seen to be composed by a series of elements in order.
</p>
<h2>Syntax</h2>
<p>Jangod's syntax is simple, similar with Django template language, but easier to use. 
Here we just list the usage of built-in libraries, in most cases, these library items 
are enough for you. Of course, developers can add their own libraries or even change 
the usage of built-in libraries, creating own special syntax 
(see <a href="customize.html" alt="customize engine">customization</a>). Therefore, 
if document doesn't match actual situation in use, there's no need wondering. 
Although the syntax can be ever-changing, it still follow some basic rules, which 
will be presented below.
</p>
<h2>Basic concept</h2>
<p>Just saying that the syntax may vary, but the basic concepts are the same. 
Known these, you can just master Jangod and all its derivative language.
</p>
<h3>Four elements</h3>
<p><a name="element">Elements</a> constitutes the template. There are only 4 elements.</p>
<h4>echo element</h4>
<p>An echo element is surrounded by '{\{' and '}}'. The character string in it 
is an expression. Template engine will calculate the expression a result value 
according to runtime environment, then the value replace the whole element 
while rendering.
</p>
<h4>tag element</h4>
<p>Tag used to control the logic of render flow, is surrounded by '{\%' and '%}'. 
A tag may contains body content, which consists of a number of regular text or elements. 
Tag with body needs an end tag as siege, tags without body do not need end tag.
Here is a if test tag :
<div class="code">
<pre>
{\% if post.comments %}
    comments ( {\{post.comments|length}} )
{\% else %}
    post a comment.
{\% endif %}
</pre>
</div>
</p>
<h4>comment element</h4>
<p>It could be some text that you don't want them to appear in generated output, 
use comment element which surrounded by '{\#' and '#}'. Code in these elements produce 
none effect, will be ignored. Comment element can comment-out other elements, but 
a comment element must not be nested in another comment element, it will consider 
end in the time of first encountered '#}'.
<div class="code">
<pre>
{\#  You can't see me.
    No, i see you.  #}
</pre>
</div>
</p>
<h4>macro element</h4>
<p>Macro defines a number of reusable components, which can contain regular text 
and jangod elements. After definition, we can repeatedly use them where in need.
Macro is aim to adjust the elements' sequence and entire composition of the template.
</p>
<h3>Three libraries</h3>
<h3>expression</h3>
<h2>Data model</h2>
<h2>Template inheritance</h2>
<h3>Inheritance by tags</h3>
<h3>Inheritance by macros</h3>
{!endblock!}